$title-size: 40rpx;
$title-color: #bd34fe;

.message-item {
  ._root {
    overflow: hidden;
    word-break: break-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    text-overflow: ellipsis;
    ._img {
      width: 15px !important;
      height: 15px !important;
    }
  }
}
.message-detail {
  ._img {
    width: 15px !important;
    height: 15px !important;
  }
}
