$title-size: 40rpx;
$main-color: #3cc51f;
$warning-color: #ff9900;
$danger-color: #fa3534;

.message-item {
  ._root {
    overflow: hidden;
    word-break: break-all;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    text-overflow: ellipsis;
    ._img {
      width: 15px !important;
      height: 15px !important;
    }
  }
}
.message-detail {
  ._root {
    ._img {
      width: 15px !important;
      height: 15px !important;
    }
  }
}
.mescroll-uni-content {
  .mescroll-empty {
    .empty-tip {
      font-size: 14px !important;
    }
    .empty-btn {
      color: $main-color;
      border-color: $main-color;
      font-size: 14px;
      padding: 5px;
      // min-width: 90px;
      line-height: 20px;
    }
  } 
}
