$title-size: 40rpx;
$main-color: #3cc51f;
$warning-color: #ff9900;
$danger-color: #fa3534;

.message-item {
  ._root {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
    line-height: 26px;
    max-height: 130px;
    width: 100%;
    ._img {
      object-fit: cover;
      display: inline-block;
      vertical-align: middle;
      max-width: 100%;
    }
  }
}
.mescroll-uni-content {
  .mescroll-empty {
    .empty-tip {
      font-size: 14px !important;
    }
    .empty-btn {
      color: $main-color;
      border-color: $main-color;
      font-size: 14px;
      padding: 5px;
      // min-width: 90px;
      line-height: 20px;
    }
  }
}

.u-notice-bar {
  align-items: inherit !important;
}
